<div ng-controller="accountController" class="row">
    <!--информация о пользователе-->
    <div class="row">
        <div class="col-md-4">
            <img/>
        </div>
        <div class="text-center ">
            <div class="row">
                <p>{{currentUser.name}}</p>
            </div>
            <div class="row">
                <p>{{currentUser.description}}</p>
            </div>
            <div class="row">
                <p>{{currentUser.money}}</p>
            </div>
            <div class="row">
                <button ng-click="addMoneyDialog()">Пополнить счет</button>
                <button ng-click="addTaskDialog()">Создать ставку</button>
            </div>
        </div>
    </div>

    <div class="row">
        <!--Таски-->
        <div class="col-md-6">
            <div class="row">
                <hr />
                <div class="row" ng-repeat="element in listTasks">
                    <h4>{{element.name}}</h4>
                    <h3>{{element.description}}</h3>
                    <h5> {{element.countMoney}}</h5>
                </div>
                <hr />
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <hr />
                <div class="row" ng-repeat="element in listTasks">
                    <h4>{{element.name}}</h4>
                    <h3>{{element.description}}</h3>
                    <h5> {{element.countMoney}}</h5>
                </div>
                <hr/>
            </div>
        </div>
    </div>
</div>