<div ng-controller="homeController" class="row">

        <div class="row text-center">
            <h3>Топ ставок</h3>
        </div>
        <div class="row text-center" ng-repeat="tasks in listTasks">
            <div class="col-md-6  container-border" style="width: 49%" ng-repeat="task in tasks">
                <div class="row">
                    <div class="col-md-3">
                        <div class="picture-margin-home">
                            <img src="https://pp.vk.me/c624425/v624425593/2c91f/xbuoQekTegs.jpg" style="width: 100%; height: 100%;"/>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <h4>{{task.title}}</h4>
                        </div>
                        <div class="row">
                            <h3>{{task.description}}</h3>
                        </div>
                    </div>
                </div>
                <div class="home-footer">
                    <div class="col-md-3">
                        <h5> {{task.countMoney}}</h5>
                    </div>

                    <button data-ng-click="openTaskDialog(task.id)">
                        Подробнее
                    </button>

                </div>
            </div>
        </div>
</div>