<div ng-controller="homeController" class="row">

  

    <div class="row text-center">
        <h3>Топ ставок</h3>
        <div class="col-md-12">

            <hr />
            <div class="modal-body">
                <h4 class="modal-title">{{listTasks[0].title}}</h4>
                <h3>{{listTasks[0].description}}</h3>
                <h5> {{listTasks[0].countMoney}}</h5>
            </div>
            <hr />

            <hr />
            <div class="modal-body">
                <h4 class="modal-title">{{listTasks[1].title}}</h4>
                <h3>{{listTasks[1].description}}</h3>
                <h5> {{listTasks[1].countMoney}}</h5>
            </div>
            <hr />



        </div>
            </div>
        </div>

