<div class="row text-center">
    <h3>Топ ставок</h3>
    <div class="col-md-6 col-centered">
        <div class="row">
            <div class="row">
                <p>{{title}}</p>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6 text-left resetPadding">
                    <p>{{description}}</p>
                </div>
                <div class="text-right">
                    <p>{{countMoney}}</p>
                </div>
            </div>
            <hr />
            <br/>
        </div>
    </div>
</div>

