<div>
    <h2>Положить денег на лицевой счет</h2>
    <div class="row">
        <form>
            <div class="col-md-6 col-md-offset-3">
                <div class="row">
                    <input type="text" class="input-for-form" ng-model="money" placeholder="Введите сумму" />
                </div>
                <div class="row">
                    <input type="submit" ng-click="addMoney(money)" value="положить денег" class="button-for-form" />
                </div>
            </div>
        </form>
    </div>
</div>
