<div>
    <h2>Totem</h2>
    <h3>{{task.Title}}</h3>
    <div class="row">
        <p>{{task.description}}</p>
    </div>
    <div class="row">
        <p>{{task.totalSum}}</p>
    </div>
    <div class="row">
        <p>{{task.beginDate}}</p>
        <p>{{task.endDate}}</p>
    </div>
    <div class="row">
        <a href="{{task.path}}"></a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button>Поддержать</button>
        </div>
        <div class="col-md-6">
            <button>Не поддержать</button>
        </div>
    </div>
</div>