<div>
    <div class="modal-header">
        <h2>{{task.title}}</h2>
    </div>
    <div class="row">
        <div class="col-md-9">
            <img src="https://pp.vk.me/c624425/v624425593/2c91f/xbuoQekTegs.jpg" style="width: 5%; height: 5%;" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>{{task.description}}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h4>{{task.countMoney}}</h4>
        </div>
    </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default">Сделать ставку</button>
        </div>

    </div>
